<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/skeleton/normalize.css">
    <link rel="stylesheet" href="/assets/css/skeleton/skeleton.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
</head>

<body>
    {{ content }}
</body>

</html>